body
    .sect1
        background-image: url(../../img/bg.jpg)
        background-attachment: fixed
        background-size: cover
        height: 40vh
        background-position: 50% 80%
        #divImgPersonne
            height: 100%
            span
                font-size: 100px
                font-weight: bold
                font-family: 'MontserratBold'
                display: flex
                justify-content: center
                align-items: center
                height: 100%
                color: #fff
            .poin
                color: #006466
    .sect2
        background-color: #1B3A4B
        padding: 20px 0
        h2
            font-size: 50px
            text-align: center
            padding: 20px 0
            font-family: 'MontserratBold'
        .divCards
            display: flex
            justify-content: center
            margin: auto
            width: 70%
            .card
                margin: 20px
                padding: 50px
                max-width: 300px
                text-align: center
                border: none
                background-color: #3d6c7a
                border-radius: 0px
                -webkit-box-shadow: 9px 7px 3px -1px rgba(0,0,0,0.59)
                -moz-box-shadow: 9px 7px 3px -1px rgba(0,0,0,0.59)
                box-shadow: 9px 7px 3px -1px rgba(0,0,0,0.59)
                i
                    font-size: 100px
                    transition-duration: 0.7s
                    &:hover
                        color: white
    .sect3
        background-color: #0B525B
        h2
            font-size: 50px
            text-align: center
            padding: 20px 0
            font-family: 'MontserratBold'